/* theme styles and markup source: https://codepen.io/kalpeshsingh/pen/wMNpLp */

:root {
  --grey-0: #eaebec;
  --grey-1: #3a4655;
  --grey-2: #425062;
  --grey-3: #727b86;
  --grey-4: #3c4857;

  --text--hover: #fff;
  --text-color: #fff;
  --highlight: #e0b612;

  --button-l-color: #aeb3ba;
  --button-l-bg: #404d5e;
  --button-c-color: #d95d4e;
  --button-c-bg: #404d5e;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: var(--grey-0);
}

.container {
  width: 400px;
  margin: auto;
}

.calc-body {
  width: 275px;
  margin: auto;
  border: solid 1px var(--grey-1);
  box-shadow: 0 8px 50px -7px black;
  display: block;
}

.blink-me {
  color: var(--highlight);
}
